.card{

background:white;

padding:25px;

border-radius:20px;

}

.chart{

height:280px;

display:flex;

align-items:flex-end;

gap:16px;

}

.bar{

flex:1;

background:#A96A42;

border-radius:12px 12px 0 0;

}