.container{

display:flex;

flex-direction:column;

gap:24px;

}

.logo{

font-size:34px;

font-weight:800;

color:#A96A42;

text-align:center;

}

.subtitle{

text-align:center;

color:#6B7280;

font-size:14px;

}

.form{

display:flex;

flex-direction:column;

gap:20px;

}

.footer{

text-align:center;

font-size:13px;

color:#6B7280;

margin-top:10px;

}
.register{

text-align:center;

margin-top:20px;

}

.register a{

color:#A96A42;

font-weight:700;

text-decoration:none;

}