.overlay{

position:fixed;

inset:0;

background:
rgba(0,0,0,.4);

display:flex;

align-items:center;

justify-content:center;

z-index:1000;

}

.modal{

width:600px;

background:white;

padding:30px;

border-radius:20px;

}

.header{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}